@* @{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h3>Add A New Task</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  
  @Html.LabelFor(model => model.Category)
  @Html.DropDownList("CategoryId")
  <input type="submit" value="Add Task" />
}

<h4>@Html.ActionLink("Back To Items", "Index")</h4> *@