@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h2>Edit</h2>

<h3>Edit This Task: @Html.DisplayFor(model => model.Description)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ItemId)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  <input type="submit" value="Save" />
}

<h4>@Html.ActionLink("Back To List", "Index")</h4>