@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model IEnumerable<ToDoList.Models.Item>;

<h2>Items for @User.Identity.Name</h2>
<hr />

@if (@Model.Any())
{
  @foreach(Item item in Model)
  {
    <h5>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId })</h5>
    <hr />
  }
}
else
{
  <h3>There are no items on your list.</h3>
  <hr />
}

<h4>@Html.ActionLink("Add New Item", "Create")</h4>
<h4>@Html.ActionLink("Home", "Index", "Home")</h4>