@{
  Layout = "_Layout";
}

@model ToDoList.Models.Category

<h2>Category Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h2>@Html.ActionLink("Edit Category", "Edit", new { id = Model.CategoryId })</h2>
<h2>@Html.ActionLink("Delete Category", "Delete", new { id = Model.CategoryId })</h2>
<h3>@Html.ActionLink("Back To Categories", "Index")</h3>
<h3>@Html.ActionLink("Home", "Index", "Home")</h3>